<div class="entity-list">
  <h2 class="title" id="page-heading" data-cy="PartSupplierHeading">
    <span jhiTranslate="partsApp.partSupplier.home.title">Part Suppliers</span>
  </h2>
  <div class="list-buttons">
    <p-button
      id="jh-create-entity"
      class="jh-create-entity create-part-supplier"
      [routerLink]="['/part-supplier/new']"
      [label]="'partsApp.partSupplier.home.createLabel' | translate"
      icon="pi pi-plus"
      iconPos="left"
      data-cy="entityCreateButton"
    >
    </p-button>
  </div>
  <div class="list-content">
    <p-table
      #partSupplierTable
      [value]="partSuppliers!"
      [rowTrackBy]="trackId"
      [responsive]="true"
      [lazy]="true"
      [rows]="itemsPerPage"
      [totalRecords]="totalItems!"
      [loading]="loading"
      sortMode="multiple"
      [paginator]="true"
      (onLazyLoad)="onLazyLoadEvent($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="price">
            <span jhiTranslate="partsApp.partSupplier.price">Price</span>
            <p-sortIcon field="price"></p-sortIcon>
            <p-columnFilter type="numeric" field="price" display="menu" [showOperator]="false" class="p-ml-auto"></p-columnFilter>
          </th>
          <th pSortableColumn="part.name">
            <span jhiTranslate="partsApp.partSupplier.part">Part</span>
            <p-sortIcon field="part.name"></p-sortIcon>
            <p-columnFilter
              field="partId"
              matchMode="in"
              display="menu"
              [showOperator]="false"
              [showMatchModes]="false"
              [showAddButton]="false"
              class="p-ml-auto"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [ngModel]="value"
                  (onChange)="filter($event.value)"
                  optionLabel="name"
                  optionValue="id"
                  [options]="partOptionsSubscriber!.options"
                  [lazy]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="38"
                  [lazySelectedOptions]="partSelectedOptions!"
                  (onLazyLoad)="onPartLazyLoadEvent($event)"
                ></p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="supplier.name">
            <span jhiTranslate="partsApp.partSupplier.supplier">Supplier</span>
            <p-sortIcon field="supplier.name"></p-sortIcon>
            <p-columnFilter
              field="supplierId"
              matchMode="in"
              display="menu"
              [showOperator]="false"
              [showMatchModes]="false"
              [showAddButton]="false"
              class="p-ml-auto"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [ngModel]="value"
                  (onChange)="filter($event.value)"
                  optionLabel="name"
                  optionValue="id"
                  [options]="supplierOptionsSubscriber!.options"
                  [lazy]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="38"
                  [lazySelectedOptions]="supplierSelectedOptions!"
                  (onLazyLoad)="onSupplierLazyLoadEvent($event)"
                ></p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="width: 124px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-partSupplier>
        <tr data-cy="entityTable">
          <td>{{ partSupplier.price }}</td>
          <td>
            <div *ngIf="partSupplier.part">
              <a [routerLink]="['/part', partSupplier.part.id, 'view']">{{ partSupplier.part.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="partSupplier.supplier">
              <a [routerLink]="['/supplier', partSupplier.supplier.id, 'view']">{{ partSupplier.supplier.name }}</a>
            </div>
          </td>
          <td>
            <div class="btn-group flex-btn-group-container">
              <p-button
                type="submit"
                [routerLink]="['/part-supplier', { partId: partSupplier.part!.id!, supplierId: partSupplier.supplier!.id! }, 'view']"
                icon="pi pi-eye"
                styleClass="p-button-info"
                data-cy="entityDetailsButton"
              >
              </p-button>
              <p-button
                type="submit"
                [routerLink]="['/part-supplier', { partId: partSupplier.part!.id!, supplierId: partSupplier.supplier!.id! }, 'edit']"
                icon="pi pi-pencil"
                styleClass="p-button-warning"
                data-cy="entityEditButton"
              >
              </p-button>
              <p-button
                type="submit"
                (click)="delete(partSupplier.part!.id!, partSupplier.supplier!.id!)"
                icon="pi pi-times"
                styleClass="p-button-danger"
                data-cy="entityDeleteButton"
              >
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
